.ginput_container {
	input, textarea {
		background-color: rgba($yellow, .6);
		width: calc(100% + 20px) !important;
		padding: 10px 20px !important;
		margin-left: -20px;
		border: none;
		border-radius: 0px;
		font-size: 26px !important;
		font-weight: 500;
		color: $black;
		transition: .4s ease-in-out;

		@media screen and (max-width: 640px) {
			font-size: 20px !important;
			line-height: 1.15 !important;
		}
		&:focus {
			outline: none;
			background-color: rgba($yellow, 1);
		}
	}
}
.gfield_label {
	margin-bottom: 0px;
	font-size: 20px !important;

	@media screen and (max-width: 640px) {
		font-size: 16px !important
	}
}
body .gform_wrapper ul li.gfield {
	margin-top: 30px !important;

	@media screen and (max-width: 640px) {
		margin-top: 20px !important;
	}
	&:first-of-type {
		margin-top: 0px !important;
	}
}
.gform_wrapper {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.gform_footer input[type="submit"] {
	font-family: $inter;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3px;
	text-transform: uppercase;
	background-color: $black;
	color: $white;
	border: 3px solid $black;
	border-radius: 0px;
	padding: 17px 20px;
	left: -20px;
	position: relative;
	transition: .4s ease-in-out;
	
	@media screen and (max-width: 640px) {
		font-size: 14px !important;
		line-height: 18px !important;
		width: calc(100% + 20px) !important;
	}
	&:hover, &:focus {
		background-color: transparent;
		color: $black;
		outline: none;
	}
}
.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0px !important;
}
.gform_wrapper textarea {
	height: 150px !important;
}
.gform_wrapper .gform_footer {
	padding: 0px !important;
	margin-top: 30px !important;

	@media screen and (max-width: 640px) {
		margin-top: 20px !important;
	}
}
.gform_confirmation_message {
	font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.gform_wrapper div.validation_error {
	color: #cb0000 !important;
	border: none !important;
	font-size: 20px !important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	border: none !important;
	background-color: transparent !important;
	padding: 0px !important;
}
.gform_wrapper .gfield_error .gfield_label {
	color: $black !important;
}
.gform_wrapper .validation_message {
	color: #cb0000 !important;
	padding-top: 5px !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
	border: none !important;
}